.Primeiro_Retangulo{
    position: absolute;
    width: 1100px;
    height: 83px;
    left: -23px;
    top: -10px; 
    background: #1E3E59;
}
.Botoes_Primeiro_Retangulo{
    font-family: Nova Square;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
#produto{
    position: absolute;
    left: 615px;
    right: 325px;
    top: 30px;
    bottom: 1387px;
}
#suporte{
    position: absolute;
    left: 699px;
    right: 252px;
    top: 30px;
    bottom: 1392px;
}
#contato{
    position: absolute;
    left: 772px;
    right: 169px;
    top: 30px;
    bottom: 1387px;
}
#login{
    position: absolute;
    width: 48px;
    height: 23px;
    left: calc(50% - 48px/2 + 379px);
    top: calc(50% - 23px/2 - 677.5px); 
}
.Segundo_Retangulo{
    position: absolute;
    width: 1024px;
    height: 459px;
    left: -6px;
    top: 75px;
}
#texto_apresentacao{
    position: absolute;
    width: 745px;
    height: 174px;
    left: 139px;
    top: 574px;

    font-family: Nova Square;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}
.retangulo_produto{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 156px;
    top: 883px;
    
    background: #B0C4DE;
    border-radius: 10px;
}
.retangulo_servico{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 400px;
    top: 881px;

    background: #B0C4DE;
    border-radius: 10px;
}
.retangulo_suporte{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 644px;
    top: 883px;

    background: #B0C4DE;
    border-radius: 10px;
}
#texto_descricao_produto{

}
#texto_descricao_servicos{

}
#texto_descricao_suporte{

}