<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="home_login.css" />                    <!-- linka a página html.home a css.home -->
        <title>Home_login</title>
    </head>
    <body>
        <div class="Primeiro_Retangulo">
            <div class ="Botoes_Primeiro_Retangulo" id="produto"> Produto </div>
            <div class ="Botoes_Primeiro_Retangulo" id="suporte" > Suporte </div>
            <div class ="Botoes_Primeiro_Retangulo" id="contato"> Contato </div>
            <div class ="Botoes_Primeiro_Retangulo" id="login"> Login </div>
        </div>
        <div id="bem_vindo">
            bem vindo de volta
        </div>
        <div>                                                               <!-- essa div vai conter uma imagem-->

        </div>
        <div class="retangulos" id="username">                                          

        </div>
        <div class="retangulos" id="senha">

        </div>
        <button class="botao_login">                                                    <!-- botão laranja do login-->
            <p>login</p>
        </button>
        <div>                                                    <!-- vai conter a imagem das linhas -->

        </div>
        <div class="retangulo_final_pagina"></div>
    </body>

</html>