<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="CSS_home.css" />
        <title>Início</title>
    </head>
    <body>
        <div class="Primeiro_Retangulo">
            <div class ="Botoes_Primeiro_Retangulo" id="produto"> Produto </div>
            <div class ="Botoes_Primeiro_Retangulo" id="suporte" > Suporte </div>
            <div class ="Botoes_Primeiro_Retangulo" id="contato"> Contato </div>
            <div class ="Botoes_Primeiro_Retangulo" id="login"> Login </div>
        </div>
        <div clas="Segundo_Retangulo">
        
          
        </div>
        <div id="texto_apresentacao">
           <p> QUEM SOMOS NÓS</p>
           <p> Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500,
                als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ustrie. 
               Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, 
               als ein unbekannter Schriftsteller ei </p>
        </div>
        <div class="retangulo_produto" >
            <p >Produtos</p>
            <p>Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500,
                als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um 
            </p>
        </div>
        <div class="retangulo_servico">
            <p>Serviços</p>
            <p>Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500,
                als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um 
            </p>
        </div>
        <div class="retangulo_suporte">
            <p>Suporte</p>
            <p>Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500,
                als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um 
            </p>
        </div>
    </body>
</html>