<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <!-- linka a página html.home a css.home -->
    <title>Início</title>
</head>

<body>
    <header class="menu">
        <nav>
            <div>
                <img src="assets/logoImagem.png" alt="Logo Image" />
                <img src="assets/logoMarca.png" alt="Logo Marca" />
            </div>

            <ul>
                <li>
                    <a href="#">
                        Produtos
                    </a>
                </li>
                <li>
                    <a href="#">
                        Suporte
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/cart.png" alt="Cart" />
                    </a>
                </li>
                <li>
                    <a href="#" class="login">
                        Login
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="one">
        <div>
            Oferecemos a maior linha de
            equipamentos
            para a sua empresa
        </div>
    </section>

    <!--vai conter a imagem -->
    <div id="retangulo_produto">
        <p> QUEM SOMOS NÓS</p>
        <p> Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500,
            als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ustrie.
            Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500,
            als ein unbekannter Schriftsteller ei </p>
    </div>
    <div class="retangulo_produto">
        <p>Produtos</p>
        <p>Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500,
            als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um
        </p>
    </div>
    <div class="retangulo_produto">
        <p>Serviços</p>
        <p>Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500,
            als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um
        </p>
    </div>
    <div class="retangulo_produto">
        <p>Suporte</p>
        <p>Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500,
            als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um
        </p>
    </div>
    <div class="retangulo_final_pagina"></div>
</body>

</html>