<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="suporte.css" />                    <!-- linka a página html.suporte a css.suporte -->
        <title>Suporte</title>
    </head>
    <body>
        <div class="Primeiro_Retangulo">
            <div class ="Botoes_Primeiro_Retangulo" id="produto"> Produto </div>
            <div class ="Botoes_Primeiro_Retangulo" id="suporte" > Suporte </div>
            <div class ="Botoes_Primeiro_Retangulo" id="contato"> Contato </div>
            <div class ="Botoes_Primeiro_Retangulo" id="login"> Login </div>
        </div>
        <p id="titulo_suporte"> Suporte 
            <p id="titulo_suporte">______</p>
        </p>
        <p id="titulo_duvidas">  Dúvidas frequentes </p>
        <!-- abaixo: botoes de duvida -->
        <button class="retangulos_duvidas_frequentes" style="top: 292px;">
            <p class="estilo_de_texto_botao">como posso comprar algum produto?</p>
        </button>
        <button class="retangulos_duvidas_frequentes" style="top: 344px;">
            <p class="estilo_de_texto_botao">Quais as formas de pagamento></p>
        </button>
        <button class="retangulos_duvidas_frequentes" style="top: 396px;">
            <p class="estilo_de_texto_botao">Qual o prazo de entrega dos produtos?</p>
        </button>
        <button class="retangulos_duvidas_frequentes" style="top: 456px;">
            <p class="estilo_de_texto_botao">O que eu faço se meu produto estiver com defeito?</p>
        </button>
        <!-- abaixo: textos da página -->
        <div class="textos" id="posicao_texto_manutencao">                                                 <!-- texto manutenção-->
            <p style="font-size: 28px; line-height: 34px;">Manutenção</p>
            <p> Para realizar a manutenção dos produtos baixe os nossos manuais: </p>
            <p> -> Entre em contato: contato@nihon.com</p>
            <p> -> ou clique aqui:</p>
        </div>
        <div class="textos" id="posicao_texto_assistencia">                                                  <!-- texto assistencia técnica-->
            <p style="font-size: 28px; line-height: 34px;">Assistência Técnica</p>
            <p > Caso precise de assistência técnica, entre em contato para resolver seu problema: (61) 3877-2496 </p>
        </div>
        <div class="textos" id="posicao_texto_treinamento">                                                  <!-- treinamento-->
            <p style="font-size: 28px; line-height: 34px;" >Treinamento</p>
            <p> -> ou clique aqui:</p>
        </div>
        <p id="slogan"> A jornada inteligente na automação comercial! </p>
        <div class="retangulo_final_pagina"></div>
    </body>
</html>